<!DOCTYPE html>
<html lang="en">
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?ffbbabff928b8ef748056bddc55a79aa";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1">
  <title>宝藏上海</title>
  <link rel="stylesheet" href="../public/css/bzsh/common.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="../public/css/bzsh/index.css">
  <script>
    (function (a) {
      var b = document.documentElement.clientWidth;
      if (b > a)
        b = a;
      document.documentElement.style.fontSize = b / a * 100 + 'px';
    })(750);
  </script>
</head>

<body>
  <div class="wrap_wrap">
    <div class="logo">
      <a class="logo_btn1" href="http://www.mingjugroup.com/"></a>
      <a class="logo_btn2" href="https://qianhu.wejianzhan.com/site/wjz7kb3w/bf174c23-be04-47fa-9b84-867887bd96c4"></a>
    </div>
    <div class="big_title"></div>
    <div class="rule" onclick="showRule('block')"></div>
    <div class="box" onclick="getBZ('block')"></div>
    <div class="box_title"></div>
    <div class="swiper-container">
      <video src="https://smartsh.gzbaidu.co:50/mp4/bzsh.mp4" controls id="video"></video>
      <div class="video_box">
        <div class="start"></div>
      </div>
    </div>
    <a class="xcl_tit" href="/home/erCode"></a>
    <div class="logos">
      <a class="logo1" href="http://t.hk.uy/wG3"></a>
      <a class="logo2" href="weixin://dl/business/?t=aSGh6tvjsEh"></a>
      <a class="logo3" href="http://www.osim.com/"></a>
      <a class="logo4" href="https://www.dfth.com/index-m.html"></a>
    </div>
    <div class="logos2">
      <a class="logo5"
        href="http://m.kx.cn/pinggupage?utm_source=%E7%99%BE%E5%BA%A6%E5%AE%9D%E8%97%8F%E4%B8%8A%E6%B5%B7&utm_medium=&utm_campaign=&utm_term=&utm_content="></a>
      <a class="logo6"
        href="https://ahava.tmall.com/shop/view_shop.htm?spm=a230r.1.14.30.79de6b52HAoN2e&user_number_id=3321469925"></a>
      <a class="logo7" href="https://www.idaipai.com/"></a>
    </div>
    <div class="tip">活动最终解释权归百度上海分公司所有</br>本活动涉及品牌及产品质量等相关问题与百度无关</div>
  </div>

  <div class="rule_wrap top_wrap">
    <div class="top">
      <div class="close" onclick="showRule('none')"><i class="x"></i>关闭</div>
      <div class="b_rule"></div>
      <div class="rule_box">
        <!-- <div class="rule_tit">
            <div class="line"></div>
            <div class="tit">沪尚茗居</div>
            <div class="line"></div>
          </div>
          <div class="rule_cont"></div> -->
      </div>
    </div>
  </div>
  <div class="form_wrap top_wrap">
    <div class="top">
      <div class="close" onclick="getBZ('none')"><i class="x"></i>关闭</div>
      <div class="title" id="codeName">恭喜获得A品牌宝券</div>
      <div class="form_code" id="codeValue">A品牌200元优惠券</div>
      <div class="label_wrap">
        <label class="input_box">
          <input id="name" type="text" placeholder="填写姓名">
        </label>
        <label class="input_box">
          <input id="tel" type="tel" placeholder="填写手机号">
        </label>
      </div>
      <label id="phone" style="display: none;">手机号:</label>
      <div class="btns_wrap">
        <button class="btn1 btn" id="giveUp" onclick="giveUp()">放弃领取</button>
        <button class="submit btn" id="submit" onclick="tjbd()">立即领取</button>
      </div>
      <div class="form_tip">请谨慎填写，点击提交后无法再次修改</div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../public/javascripts/bzsh/reg.js"></script>
<script src="../public/javascripts/bzsh/toast.js"></script>
<script src="../public/javascripts/bzsh/ajax.js"></script>
<script src="../public/javascripts/bzsh/index.js"></script>
<script>
  // localStorage.index = 1;
  // localStorage.tell = 1;
  let api = '';
  let index = 1;
  let tell;

  init();
  $('.start').on('click',function(){
    console.log(1)
    $('.video_box').hide();
    $('#video')[0].play();
  })
  function init() {
    let str = ''
    for (let i = 0; i < codeArr.length - 1; i++) {
      str += '<div class="rule_tit">' +
        '<div class="line"></div>' +
        '<div class="tit">' + codeArr[i].name + '</div>' +
        '<div class="line"></div>' +
        '</div>' +
        '<div class="rule_cont">' + codeArr[i].rule + '</div>'
    }
    document.querySelector('.rule_box').innerHTML = str;
  }
  // 规则
  function showRule(style) {
    if (style == "none") {
      $('.wrap_wrap').removeClass('noScroll')
    } else {
      $('.wrap_wrap').addClass('noScroll')
    }
    var dom = document.querySelector('.rule_wrap');
    dom.style.display = style;
  }
  // 放弃领取
  function giveUp() {
    document.querySelector('.form_wrap').style.display = "none";
    localStorage.setItem('index', index - 0 + 1);
    $('.wrap_wrap').removeClass('noScroll');
  }
  // 获取宝藏
  function getBZ(style) {
    if (style == "none") {
      $('.wrap_wrap').removeClass('noScroll')
    } else {
      $('.wrap_wrap').addClass('noScroll')
    }

    if (style == 'none') {
      var dom = document.querySelector('.form_wrap');
      dom.style.display = style;
      return;
    }

    index = localStorage.index || 1;
    tell = localStorage.tell;




    console.log(index, tell);

    if (index - 0 > 10) {
      window.location.href = '/home/over'
      return;
    }
    if (tell && /^1\d{10}$/.test(tell)) {
      tjbd();
      return;
    }
    var codeName = document.querySelector('#codeName');
    codeName.innerHTML = "恭喜获得" + codeArr[index - 1].name + "奖品";

    var codeValue = document.querySelector('#codeValue');
    codeValue.innerHTML = codeArr[index - 1].value;

    var dom = document.querySelector('.form_wrap');
    dom.style.display = 'block';
  }
  // 提交表单
  function tjbd() {
    var name = ''
    if (!tell || !/^1\d{10}$/.test(tell)) {
      name = document.getElementById('name').value;
      tell = document.getElementById('tel').value;
    }
    if (index == 3) {
      index = 4;
    }

    console.log(name, tell)
    $.ajax({
      type: "post",
      url: api + '/api/tjbd',
      data: {
        index: index,
        name: name,
        tell: tell,
      },
      dataType: "json",
      success: function (res) {
        console.log(res);
        if (res.code == 1) {
          var giveUp = document.getElementById('giveUp');
          giveUp.disabled = true;
          var submit = document.getElementById('submit');
          submit.disabled = true;

          localStorage.setItem('index', res.data.count - 0 + 1);
          localStorage.setItem('tell', tell);
          localStorage.setItem('code', res.data.code);
          message(res.msg);
          setTimeout(() => {
            window.location.href = "/home/code";
          }, 100)
          return;
        }
        if (res.code == 4) {
          localStorage.setItem('index', res.data.count - 0 + 1);
          localStorage.setItem('tell', tell);
          message(res.msg);

          if (res.data.count == 10) {
            window.location.href = '/home/over'
          }
          return;
        }
        message(res.msg);
      },
      fail: (err) => {
        message('领取失败');
      }
    })
  }
</script>

</html>