<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>宝藏上海</title>
  <link rel="stylesheet" href="../public/css/bzsh/common.css">
  <link rel="stylesheet" href="../public/css/bzsh/code.css">
  <style>
    .logo {
      margin-bottom: 0.4rem;
    }
    .code_tit {
      margin-bottom: 0.1rem;
    }
    .code_detail {
      font-size: 0.3rem;
      text-align: center;
      color: #1f8be6;
      font-family: 'mFont';
      margin-bottom: 0.3rem;
    }
  </style>
  <script>
    (function (a) {
      var b = document.documentElement.clientWidth;
      if (b > a)
        b = a;
      document.documentElement.style.fontSize = b / a * 100 + 'px';
    })(750);
  </script>
</head>
<body>
  <div class="wrap_wrap">
    <div class="logo"></div>
    <div class="code_tit" id="codeName">恭喜您获得A品牌宝券！</div>
    <div class="code_detail"></div>
    <div class="code_code" id="codeCode">核销码：GTX53602XDC</div>
    <div class="m_tip">请截图保存宝券哦~</div>
    <div class="rule_wrap">
      <div class="rule_tit">
        <div class="line"></div>
        <div class="tit">使用规则</div>
        <div class="line"></div>
      </div>
      <div class="rule_cont">

      </div>
    </div>
    <div class="btns_wrap">
      <a class="btn1 btn" href="https://mbd.baidu.com/newspage/data/mdpage?sid=1016847&tag=33&offset=10&method=LiveList&getTPL=1&livepre=1&roomid=4507135726">返回直播</a>
      <div class="btn2 btn" onclick="backIndex()">再抽一次</div>
    </div>
    <div class="tip">活动最终解释权归百度上海分公司所有</br>本活动涉及品牌及产品质量等相关问题与百度无关</div>
  </div>
  <script src="../public/javascripts/bzsh/index.js"></script>
  <script>
    let index = localStorage.index;
    let code = localStorage.code;
    console.log(index,code)

    document.getElementById('codeName').innerHTML = "恭喜您获得"+codeArr[index-2].name+"奖品";
    document.querySelector('.code_detail').innerHTML = codeArr[index-2].value;
    document.querySelector('.rule_cont').innerHTML = codeArr[index-2].rule;
    document.getElementById("codeCode").innerHTML = "核销码："+code;

    function backIndex(){
      if(index>10){
        window.location.href = '/home/over';
      }else{
        window.location.href = '/home/bzsh'
      }
    }
  </script>
</body>
</html>