<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>七夕</title>
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/index.css">
</head>
<body>
    <!-- <button class="cj" style="display: block;margin: 0 auto;margin-top: .4rem;">抽奖</button>
    <div class="jx" style="width: 2rem;margin: 0 auto;margin-bottom: .5rem;text-align: center;margin-top: .4rem;">您中的奖是！</div>
    <div style="text-align: center;"> 输入手机号领奖：<input type="text" class="tell"></div>
    <div style="text-align: center;margin-bottom: .4rem;">    
        <button class="tj" style="display: inline-block;margin: 0 auto;margin-top: .4rem;">提交</button>
        <button class="fq" style="display: inline-block;margin: 0 auto">放弃</button>

   </div> -->
   <div class="wrap">
       
        <div class="baner">
                <img src="../public/images/banner.png" alt="">
                <div class="cd">
                    <div >
                        <img src="../public/images/xp.png" alt="">
                        <div>新品首发</div>
                    </div>
                    <div >
                        <img src="../public/images/dj.png" alt="">
                        <div>独家优惠</div>
                    </div>
                    <div >
                        <img src="../public/images/zb.png" alt="">
                        <div>直播会场</div>
                    </div>
                    <div >
                        <img src="../public/images/ca.png" alt="">
                        <div>宠爱礼包</div>
                    </div>

                </div>

        </div>
        <div class="xp-box">
            <img src="../public/images/xp-bt.png" style="margin-top:-.2rem ;" alt="">
            <img src="../public/images/hb.png" style="margin-top:-.8rem ;" alt="">
            <img src="../public/images/fg.png" style="margin-top:-.35rem ;width: 6.7rem;" alt="">
            <!-- <div class="sp">
                <div>
                    <img class="sp-t" src="../public/images/xs.png">
                    <div class="sp-j">
                        <div class="spm">品牌A新品首发价</div>
                        <div class="spj">¥999抢</div>
                    </div>
                </div>
                <div>
                    <img class="sp-t" src="../public/images/spB.png">
                    <div class="sp-j">
                        <div class="spm">品牌B新品首发价</div>
                        <div class="spj">¥999抢</div>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="xp-box">
            <img src="../public/images/djca.png" style="margin-top:-.2rem ;" alt="">
            <div class="ct" style="margin-top: -.4rem;">
                <div class="ct-t"></div>
                <div class="ct-w">
                    <div class="ct-w-tit">【3人成团】品牌A限量套餐</div>
                    <div style="height:.6rem;margin-top: .15rem;">
                        <div class="ct-w-j">¥ 2999 <div class="line"></div></div>
                        <div class="ct-w-tx">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                        </div>
                    </div>
                    <div style="height: .85rem;margin-top: .27rem;padding-left: .15rem;box-sizing: border-box;" >
                        <div class="ct-w-rw">
                            <div>¥999</div>
                            <div>做任务立减</div>
                        </div>
                        <div class="ct-w-rw">
                            <div>¥999</div>
                            <div>立即拼单</div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="ct">
                <div class="ct-t"></div>
                <div class="ct-w">
                    <div class="ct-w-tit">【3人成团】品牌A限量套餐</div>
                    <div style="height:.6rem;margin-top: .15rem;">
                        <div class="ct-w-j">¥ 2999 <div class="line"></div></div>
                        <div class="ct-w-tx">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                        </div>
                    </div>
                    <div style="height: .85rem;margin-top: .27rem;padding-left: .15rem;box-sizing: border-box;" >
                        <div class="ct-w-rw">
                            <div>¥999</div>
                            <div>做任务立减</div>
                        </div>
                        <div class="ct-w-rw">
                            <div>¥999</div>
                            <div>立即拼单</div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="ct">
                <div class="ct-t"></div>
                <div class="ct-w">
                    <div class="ct-w-tit">【3人成团】品牌A限量套餐</div>
                    <div style="height:.6rem;margin-top: .15rem;">
                        <div class="ct-w-j">¥ 2999 <div class="line"></div></div>
                        <div class="ct-w-tx">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                            <img src="../public/images/ct-tx.png" alt="">
                        </div>
                    </div>
                    <div style="height: .85rem;margin-top: .27rem;padding-left: .15rem;box-sizing: border-box;" >
                        <div class="ct-w-rw">
                            <div>¥999</div>
                            <div>做任务立减</div>
                        </div>
                        <div class="ct-w-rw">
                            <div>¥999</div>
                            <div>立即拼单</div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="xp-box">
            <img src="../public/images/thzq.png" style="margin-top:-.2rem ;" alt="">
            <img src="../public/images/ht1.png" alt="" style="width: 1.7rem;margin-left: 0.1rem;margin-top: -.8rem;margin-bottom: -.55rem;">
            <div class="thxz">
                <div>
                    <div class="thxz-t"></div>
                    <div class="thxz-d">
                        <div>下载App立享99元</div>
                        <div>立即下载</div>
                    </div>
                </div>
                <div>
                    <div class="thxz-t"></div>
                    <div class="thxz-d">
                        <div>下载App立享99元</div>
                        <div>立即下载</div>
                    </div>
                </div>
                <div>
                    <div class="thxz-t"></div>
                    <div class="thxz-d">
                        <div>下载App立享99元</div>
                        <div>立即下载</div>
                    </div>
                </div>
            </div>
            <img src="../public/images/ht2.png" style="width: 1.7rem;margin-right: .1rem;margin-bottom: -.55rem ;" alt="">
            <div class="thxz">
                <div>
                    <div>
                        <div class="thxz-t"></div>
                        <div class="thxz-d">
                            <div>下载App立享99元</div>
                            <div>立即下载</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="thxz-t"></div>
                        <div class="thxz-d">
                            <div>下载App立享99元</div>
                            <div>立即下载</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="thxz-t"></div>
                        <div class="thxz-d">
                            <div>下载App立享99元</div>
                            <div>立即下载</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="xp-box">
            <img src="../public/images/cazb.png" style="margin-top:-.2rem ;" alt="">
            <div class="cazb-b">
                <div class="tab">
                    <div class="active"> 正在直播 <span class="dl active1"></span></div>
                    <div>直播预告 <span class="ds"></span></div>
                </div>
                <div class="zbdt"></div>
            </div>

        </div>
        <div >
            <img src="../public/images/yx.png" style="margin-top:-.2rem ;" alt="" class="ts">
            <div class="djs">30</div>
            <div class="gz">规则</div>
            
            <div class="yx">
                <div class="box">
                   

                </div>
                <div class="mask">
                    <div class="start"></div>
                </div>
            </div>
        </div>
   </div>


</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="./public/javascripts/rem.js"></script>
<script> 
     
    function randomilize(arr){
        var length=arr.length;
        var arr1=new Array(); 
        for(var i=0;i<length;i++)
        {
            arr1[i]=i;
        }   //建立数组下标数组
        var arr2=new Array();
        for(var i=0;i<length;i++)
        {
            arr2[i]=arr1.splice(Math.floor(Math.random()*arr1.length),1);
        }  //将数组下标随机打乱
        var arr3=new Array();
        for(var i=0;i<length;i++)
        {
            arr3[i]=arr[arr2[i]];
        }  //将数组按打乱后的下标输出
        return arr3;
    }
    function selectRandom (num, from, to) {
        let arr = [];
        let json = {};
        let needNum;

        if (from - to >= 0) {
            console.log(111)
            return '起始值要小于末尾值'
        }

        if (to - from == to) {
            needNum = parseInt(to) + 1;
        } else {
            needNum = to - from;
        }
        if (num > needNum) {
            return
        } else {
            while (arr.length < num) {
            let ranNum = Math.ceil(Math.random() * needNum);
            if (!json[ranNum]) {
                json[ranNum] = 1;
                arr.push(ranNum)
            }
            }
            return arr;
        }
    }
    function genClips() {
        $.each($('.clipped-box'),function (index,val) {
                $t= $(val)
                var amount = 4;
                var width = $t.width() / amount;
                var height = $t.height() / amount;
                var totalSquares = Math.pow(amount, 2);
                var html = $t.find('.content').html();
                
                var y = 0;
                for(var z = 0; z <= (amount*width); z = z+width) { 
                    $('<div class="clipped" style="clip: rect('+y+'px, '+(z+width)+'px, '+(y+height)+'px, '+z+'px)">'+html+'</div>').appendTo($t);
                    if(z === (amount*width)-width) {
                        y = y + height;
                        z = -width;
                    }
                    if(y === (amount*height)) {
                        z = 9999999;
                    }
                }

          })
        // $t = $('.clipped-box');
    
        
    }
    function rand(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    function restart() { 
        var time =0
        xcd=0
        $('.time').text(time)
        clearInterval(jsq)
        jsq=setInterval(() => {
            time++;
            $('.time').text(time)
        }, 1000);
        }
    function init() {
        var index =[0,1,2,3,4,5,6,7]
        var list =randomilize(index)
        var list1= randomilize(list)
        var listId = list.concat(list1)
        var str ='';
        $.each(listId, function (index, val) { 
            str+=`<div class="clipped-box" sign='${val}'>
                    <div class="content">
                        <img src="../public/images/${val}.png" style="height: 100%;width: 100%;" alt="">
                    </div>
                </div>`
        });
        $('.box').html(str)
        genClips()
    }
    init()
    window.prize= ''
    var count =1
    var xcd =0
    var jsq =null
    var startFlag =true
    var djs =30

    $('body').on('click','.tab>div',function () {
        $('.tab>div').removeClass('active')
        $('.tab span').removeClass('active1')
        $(this).addClass('active')
        $(this).find('span').addClass('active1')
        console.log($(this))
    }).on('click','.cj',function () { 
            $.ajax({
                //请求方式
                type : "post",
                //请求地址
                url : "/api/luckDraw",
                //数据，json字符串
                data:{'mobile':'17621611037'},
                dataType: 'json',
                //请求成功
                success : function(res) {
                    $('.jx').text("恭喜你中了"+res.prize)
                    prize=res.prize
                    // console.log(res.prize);
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        

    }).on('click','.tj',function () { 
        var param ={
            tell:$('.tell').val(),
            prize:prize
        }
        $.ajax({
                //请求方式
                type : "post",
                //请求地址
                url : "/api/submit",
                //数据，json字符串
                data:param,
                dataType: 'json',
                //请求成功
                success : function(res) {
                    alert(res.msg)
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
    }).on('click','.fq',function () { 
        var param ={
            prize:prize
        }
        $.ajax({
                //请求方式
                type : "post",
                //请求地址
                url : "/api/giveUp",
                //数据，json字符串
                data:param,
                dataType: 'json',
                //请求成功
                success : function(res) {
                    alert(res.msg)
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
    }).on('click','.clipped-box div',function (e) {
        console.log(djs)
        if(djs>0){
            var _this=this
            var timer =null;
            if($(this).parent().hasClass('sign')) return;
            $(this).parent().addClass('sign')
            if(count<3){
                $(this).parent().addClass('yx-active1')
                count++;
            }
            if(count ==3){

                if($($('.yx-active1')[0]).attr('sign') !=$($('.yx-active1')[1]).attr('sign') ){
                    clearTimeout(timer)
                    $('.yx-active1').addClass('shake')
                    $('.clipped-box').removeClass('yx-active1')
                    $('.clipped-box').removeClass('sign')
                    timer =setTimeout(function (param) {
                        $('.clipped-box').removeClass('shake') 
                        
                    },1000)
                    count=1
                } else{
                    
                    $.each($('.yx-active1'),function (index,val) {                    
                        $(val).find('.content').css({'display' : 'none'});
                        
                        $(val).find('div:not(.content)').each(function() {
                            var v = rand(70, 50),
                                angle = rand(0, 89),
                                theta = (angle * Math.PI) / 180,
                                g = -9.8; 
                            var self = $(this);
                            var t = 0,
                                z, r, nx, ny,
                                totalt =  15;
                            var negate = [1, -1, 0],
                                direction = negate[ Math.floor(Math.random() * negate.length) ];
                            var randDeg = rand(-5, 10), 
                                randScale = rand(0.9, 1.1),
                                randDeg2 = rand(30, 5);
                            var color = $(this).css('backgroundColor').split('rgb(')[1].split(')')[0].split(', '),
                                colorR = rand(-20, 20),
                                colorGB = rand(-20, 20),
                                newColor = 'rgb('+(parseFloat(color[0])+colorR)+', '+(parseFloat(color[1])+colorGB)+', '+(parseFloat(color[2])+colorGB)+')';
                            $(this).css({
                                'transform' : 'scale('+randScale+') skew('+randDeg+'deg) rotateZ('+randDeg2+'deg)', 
                                'background' : newColor
                            });
                            z = setInterval(function() { 	
                                var ux = ( Math.cos(theta) * v ) * direction;
                                var uy = ( Math.sin(theta) * v ) - ( (-g) * t);
                                nx = (ux * t);
                                ny = (uy * t) + (0.5 * (g) * Math.pow(t, 2));
                                $(self).css({'bottom' : (ny)+'px', 'left' : (nx)+'px'});
                                t = t + 0.10;
                                if(t > totalt) {

                                    $(val).css({'top' : '-1000px', 'transition' : 'none'});
                                    $(self).css({'left' : '0', 'bottom' : '0', 'opacity' : '1', 'transition' : 'none', 'transform' : 'none'});
                                    clearInterval(z);
                                }
                            }, 10);
                        });
                    })
                    xcd++
                    count=1
                    $('.clipped-box').removeClass('yx-active1')
                    $('.clipped-box').removeClass('sign')
                    if(xcd==8){
                        clearInterval(jsq)
                        startFlag=false
                    }
                }
                
            }
        
        }   
    }).on('click','.start',function () { 
       
        
        clearInterval(jsq)
        
        jsq =setInterval(function (param) { 
            djs--;
            if(djs == -1){
                clearInterval(timer)
            }else{
                $('.djs').text(djs)
            }
        },1000)
        $(this).parent().addClass('hide')
    })
</script>
</html>