<!DOCTYPE html>
<html lang="en">
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ffbbabff928b8ef748056bddc55a79aa";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>七夕宠爱季</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/swiper.css">  
</head>
<body>
   
   <div class="wrap">
       
        <div class="baner">
                <img src="../public/images/banner.jpg" alt="">
                <div class="cd">
                    <a  href="#ppzq">
                        <img src="../public/images/xp.png" alt="" >
                        <div>品牌专区</div>
                    </a>
                    <a href="#djyh">
                        <img src="../public/images/dj.png" alt="">
                        <div>独家优惠</div>
                    </a>
                    <a href="#zczb">
                        <img src="../public/images/zb.png" alt="">
                        <div>直播会场</div>
                    </a>
                    <a href="#cafl">
                        <img src="../public/images/ca.png" alt="">
                        <div>宠爱礼包</div>
                    </a>

                </div>

        </div>
        <div class="xp-box" id="ppzq">
            <img src="../public/images/ppzq.png" alt="" class="dbt">
            <div class="kzj">
            <div class="yq-t">
                
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="width: 100%;">
                                <img src="../public/images/bb.jpg" alt="" style="width: 6.4rem;display: block;height: 3.6rem;margin: 0.2rem auto;">
                                <div class="yq-b" style="position: relative;"> 
                                    <img src="../public/images/xx.png" alt="" style="width: 90%;margin: 0 auto;display: block;margin-top: .2rem;">
                                    <div class="yq-b-text" style="line-height: .4rem;top:.2rem">kate spade 明星同款 <br> nicola 系列</div>
                                    <a href="https://www.katespade.cn/search?q=nicola&utm_medium=disp_br&utm_source=baidu&utm_campaign=baidu_banner_nicola_200818" class="btn">立即前往</a>
                                </div>
                            </div> 
                            <div class="swiper-slide" style="width: 100%;">
                                <img src="../public/images/hsmj.jpg" alt="" style="width: 6.4rem;display: block;height: 3.6rem;margin: 0.2rem auto;">
                                <div class="yq-b" style="position: relative;"> 
                                    <img src="../public/images/xx.png" alt="" style="width: 90%;margin: 0 auto;display: block;margin-top: .2rem;">
                                    <div class="yq-b-text" style="line-height: .4rem;top:.2rem">沪尚茗居限时福利 <br> 免费领1v1设计</div>
                                    <a href="http://www.mingjugroup.com/mobile/yuyue_dialog.html" class="btn">立即领取</a>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 100%;">
                                <img src="../public/images/fx-1.jpg" alt="" style="width: 6.4rem;display: block;height: 3.6rem;margin: 0.2rem auto;">
                                <div class="yq-b" style="position: relative;"> 
                                    <img src="../public/images/xx.png" alt="" style="width: 90%;margin: 0 auto;display: block;margin-top: .2rem;">
                                    <div class="yq-b-text">凤祥喜事老凤祥首饰婚博会</div>
                                    <a href="/game" class="btn">立即前往</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../public/images/lb-zb.jpg" alt="" style="width: 6.4rem;display: block;height: 3.6rem;margin: 0.2rem auto;"> 
                                <div class="yq-b" style="position: relative;"> 
                                    <img src="../public/images/xx.png" alt="" style="width: 90%;margin: 0 auto;display: block;margin-top: .2rem;">
                                    <div class="yq-b-text">CRD克徕帝便携珠宝箱</div>
                                    <a href="https://m.crd.cn/reservation/" class="btn">免费领取</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../public/images/jy.png" alt="" style="width: 6.4rem;display: block;height: 3.6rem;margin: 0.2rem auto;">
                                <div class="yq-b" style="position: relative;"> 
                                    <img src="../public/images/xx.png" alt="" style="width: 90%;margin: 0 auto;display: block;margin-top: .2rem;">
                                    <div class="yq-b-text" style="line-height: .4rem;top:.2rem">赵薇梦陇红酒优选级别 <br> 一生一世双支组合</div>
                                    <a href="https://detail.tmall.com/item.htm?id=559122132848" class="btn">宠爱秒杀价</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      
        

        <div class="xp-box" id="djyh">
            <img src="../public/images/djyh.png" alt="" class="dbt">
            <div class="djyh-box">
                <div class="djyh-item">
                    <div class="djyh-item-l"><img src="../public/images/sy-cj.jpg" alt=""></div>
                    <div class="djyh-item-r">
                        <div class="djyh-item-r-t">
                            分享1次微信好友 到老凤祥指定门店领取麻布袋便携餐具一份
                        </div>
                        <div class="djyh-item-r-z fxsy">仅限100份先到先得</div>
                        <div class="djyh-item-r-b ljfx">立即分享</div>
                    </div>
                </div>
                <div class="djyh-item">
                    <div class="djyh-item-l"><img src="../public/images/sy-xl.jpg" alt=""></div>
                    <div class="djyh-item-r">
                        <div class="djyh-item-r-t">CRD克徕帝Wish铂金钻石对戒购买一对优惠1040</div>
                        <div class="djyh-item-r-z">即刻预约,领取专属好礼！</div>
                        <div class="djyh-item-r-b"><a href="https://m.crd.cn/reservation/" style="color: white;">立即预约</a></div>
                    </div>
                </div>
                
            </div>
        </div>
        <div  class="xp-box" style="width: 100%;" id="thzq">
            <img src="../public/images/thzq.png" alt="" class="dbt">
            <div class="thzq-box">
                <!-- <div class="thzq-box-item">
                    <div style="width: 100%;height: .9rem;position: relative;margin-bottom: .3rem;"><div class="thzq-box-item-nav tit1">宠爱我一夏</div></div>
                    <div class="scroll">
                        <div class="thzq-box-item-box">
                            <a class="tbib" href="https://detail.tmall.com/item.htm?id=618100793161">
                                <div class="tbib-t">
                                    <img src="../public/images/h3.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        哈根达斯 夏季 花意爱浓600克 ...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥298</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm~?id=617962290110">
                                <div class="tbib-t">
                                    <img src="../public/images/h2.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        七夕 哈根达斯 夏季新品 果力全 ...
                                        
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥298</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm~?spm=a1z10.3-b-s.w4011-15371282216.244.75a41a54ql9Khg&id=624339300029&rn=9c1339cb967330351b946ea8bea30c4c&abbucket=1">
                                <div class="tbib-t">
                                    <img src="../public/images/h1.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        2020中秋 哈根达斯联名款Line ...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥198</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                       
                    </div>

                </div> -->
                <div class="thzq-box-item">
                    <div style="width: 100%;height: .9rem;position: relative;margin-bottom: .3rem;"><div class="thzq-box-item-nav tit1">宠爱我味蕾</div></div>
                    <div class="scroll">
                       
                        <div class="swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide  wl">
                                    <a class="tbib" href="https://detail.tmall.com/item.htm?spm=a212k0.12153887.0.0.4e60687df3lKbz&id=606414286190
                                    ">
                                        <div class="tbib-t">
                                            <img src="../public/images/sw-1.jpg" alt="">
                                        </div>
                                        <div class="tbib-b">
                                            <div class="spxq">
                                                拉面说方便速食面4盒装
                                            </div>
                                            <div class="jg">
                                                <div>¥?</div>
                                                <div>¥79.9</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide wl">
                                    <a class="tbib" href="https://detail.tmall.com/item.htm?id=619909565202
                                    ">
                                        <div class="tbib-t">
                                            <img src="../public/images/sw-2.jpg" alt="">
                                        </div>
                                        <div class="tbib-b">
                                            <div class="spxq">
                                                喜确美龄豆浆粉 14小袋
                                            </div>
                                            <div class="jg">
                                                <div>¥?</div>
                                                <div>¥59.9</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide wl">
                                    <a class="tbib" href="https://s.click.taobao.com/t?e=m%3D2%26s%3DZoJGLs1o574cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMcut01ABGoKjxq3IhSJN6GSpaj6XE0TJqWSq5pdvlNOKHmh7VgZnS8UxhqIoWE5DQylY87eEwcrxeFsgAdm733QbksVR25hxe%2Fx6IHKWQjP6xgxdTc00KD8%3D
                                    ">
                                        <div class="tbib-t">
                                            <img src="../public/images/sw-3.jpg" alt="">
                                        </div>
                                        <div class="tbib-b">
                                            <div class="spxq">
                                                Dr.Cheese奶酪博士 奶酪夹心海 ...
                                            </div>
                                            <div class="jg">
                                                <div>¥?</div>
                                                <div>¥66.5</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide wl">
                                    <a class="tbib" href="https://detail.tmall.com/item.htm?spm=a21ag.7623864.0.0.225d3ba5ZDSU1O&id=624534669631&skuId=4595804779683">
                                        <div class="tbib-t">
                                            <img src="../public/images/szb.jpg" alt="">
                                        </div>
                                        <div class="tbib-b">
                                            <div class="spxq">
                                                正新原味台湾手抓饼家庭装 ...
                                            </div>
                                            <div class="jg">
                                                <div>¥?</div>
                                                <div>¥49.8</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="thzq-box-item">
                    <div style="width: 100%;height: .9rem;position: relative;margin-bottom: .3rem;"><div class="thzq-box-item-nav tit2">宠爱我肌肤</div></div>
                    <div class="scroll">
                        <div class="thzq-box-item-box">
                            <a class="tbib" href="https://detail.tmall.com/item.htm?id=563422855497">
                                <div class="tbib-t">
                                    <img src="../public/images/mb.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        花西子眉笔1+1版本 (一只正装+ ...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥69</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm?id=586658505949">
                                <div class="tbib-t">
                                    <img src="../public/images/sj.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        花西子卸妆湿巾单片9g 一盒20片
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥49</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm?id=596316775451">
                                <div class="tbib-t">
                                    <img src="../public/images/sh.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        花西子腮红膏<br> 4g/个
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥89</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm?id=624463478142">
                                <div class="tbib-t">
                                    <img src="../public/images/yp-2.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        KASE500ml氨基酸 沐浴慕斯 ...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥188</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="thzq-box-item">
                    <div style="width: 100%;height: .9rem;position: relative;margin-bottom: .3rem;"><div class="thzq-box-item-nav tit3">宠爱我生活</div></div>
                    <div class="scroll">
                        <div class="thzq-box-item-box  aa">
                            <a class="tbib" href="https://detail.tmall.com/item.htm?spm=a1z10.5-b-s.w4011-16101941271.43.54ea446bn1GfQJ&id=612964665132&rn=f3505f3c2ba958bc29665d077eb3936f&abbucket=9
                            ">
                                <div class="tbib-t">
                                    <img src="../public/images/sh-1.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        汉高 renuzit蕊氛进口天然固体 ...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥29</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm?spm=a1z10.5-b-s.w4011-16101941271.52.32721b7eJoEQGz&id=546483778323&rn=b40b8b90f967408856b583be52b4ebf2&abbucket=9
                            ">
                                <div class="tbib-t">
                                    <img src="../public/images/sh-2.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        汉高Bref妙力德国 进口智能马 ...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥34.9</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm?spm=a1z10.3-b-s.w4011-17406181326.41.44d1343aUP8S8r&id=616342010591&rn=e0cff1d901522815338c810c8fd5c0dd&abbucket=12&sku_properties=1627207:3232483
                            ">
                                <div class="tbib-t">
                                    <img src="../public/images/yp-1.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        金可儿繁星C 买即送售价499 ...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥10599</div>
                                    </div>
                                </div>
                            </a>
                           
                            <a class="tbib" href="https://detail.tmall.com/item.htm?spm=a1z10.5-b-s.w4011-16453049473.143.17f01718ufpbw1&id=612094806607&rn=e5b70894429ba40fbabb81a91d611560&abbucket=16&sku_properties=1627207:7484811370">
                                <div class="tbib-t">
                                    <img src="../public/images/jf-2.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        [李晨同款]三枪水柔弹力棉圆领短...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥129</div>
                                    </div>
                                </div>
                            </a>
                            <a class="tbib" href="https://detail.tmall.com/item.htm?spm=a1z10.5-b-s.w4011-16453049473.80.17f01718ufpbw1&id=586767134200&rn=e5b70894429ba40fbabb81a91d611560&abbucket=16
                            ">
                                <div class="tbib-t">
                                    <img src="../public/images/yp-3.jpg" alt="">
                                </div>
                                <div class="tbib-b">
                                    <div class="spxq">
                                        三枪舒肤棉圆领 短袖长裤女家...
                                    </div>
                                    <div class="jg">
                                        <div>¥?</div>
                                        <div>¥139</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
 
                </div>

            </div>
        </div>
        
        <div class="xp-box" id="zczb">
            <img src="../public/images/zczb.png" class="dbt" alt="">
            <div class="cazb-b">
                <div class="tab">
                    <div class="active" style="width: 100%;"> 好奇新物 七夕宠爱季直播 <span class="dl active1" style="right: 1.7rem;"></span></div>
                    <!-- <div>直播预告 <span class="ds"></span></div> -->
                </div>
                
                <a href="https://mbd.baidu.com/newspage/data/mdpage?sid=1016847&tag=33&offset=10&method=LiveList&getTPL=1&livepre=1&roomid=3849712182" class="mc"><div class="zbdt" style="position: relative;">
                    <div  style="height: 1rem;width: 1rem;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);"><img style="display: block;height: 1rem;width: 1rem;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);" src="../public/images/bf.png" alt=""></div>
                </div></a>
                
            </div>

        </div>
  
        <div class="xp-box" id="cafl" style="position: relative;">
            <img src="../public/images/cafl.png" class="dbt" alt="">
            <div class="djs sj">12</div>
            <div class="gz">免责声明</div>
            
            <div class="yx">
                <div class="box">
                   

                </div>
                <div class="mask">
                    <div class="start "></div>
                </div>
            </div>
        </div> 
        <img src="../public/images/xxljp.png" alt="" style="width: 7rem;margin: 0 auto;display: block;margin-top: .4rem;">
   </div>
   
   <div class="footer">
        <img src="../public/images/fx-yd.png" alt="">
    </div>

    <div class="dzp-mask fx-mask">
        <div class="dzp-mask-content">
            <div class="jxm">
                
            </div>
            <div class="xxk">
                <input type="text" class="xm" placeholder="姓名">
                <input type="text" class="tell" placeholder="电话">
                <div class="fxtj"> 提交</div>
                <p class="yx-gz">
                    <span class="yx-gz-title">
                        活动规则
                    </span>
                    <span>
                        1.分享1次微信好友,可凭手机号到老凤祥指定门店领取老凤祥麻布袋便携餐具一份(限量100份,先到先得）<br>
                        2.仅限上海老凤祥豫园分号黄浦区丽水路58-88号<br>
                        3.活动页类内同类产品仅限领取一次<br>
                    </span>
                </p>

            </div>
            <div class="close">×</div>

        </div>
    </div>
    <div class="fxts">
        <img src="../public/images/fxtb.png" alt="">
    </div>
    <div class="result">
        <div class="g-c">
            <div class="jp-text">恭喜你获得小都音响</div>
            <div class="xxk">
                <input type="text" class="xm" placeholder="姓名">
                <input type="text" class="tell" placeholder="电话">
                <div style="width: 100%;" class="tj">提交</div>
            </div>

            <p class="sm">
                
            </p>
        </div>
        <div class="sb">
            <div style="width: 64%;" class="restart">再来一次</div>
            
            
        </div>
        <div class="close" style="top: 3rem;left: 88%;">
            ×
        </div>
        
    </div>
    <div class="mzsm">
        <div class="mznr">
            <div style="text-align: center;font-size: .3rem;margin-bottom: .2rem;"> 活动参与方式及规则</div>
            <div class="mzegb">×</div>
                参与方式： <br>
                1.用户进入活动页面后，按照页面提示完成互动，即可参与抽奖。<br>
                2.同一用户最多只可获奖一次（详见活动须知）。<br>
                3.中奖用户需提交准确无误的获奖品信息（姓名、联系电话等），以确保奖品正确核销。

                活动时间：<br>
                2020年8月23日-2020年8月30日<br>

                领券说明：<br>
                奖品共分为五个奖项：<br>
                小度在家X8   <br>
                小度智能音箱play  <br>  
                趴趴熊睡枕   <br> 
                星座度熊公仔  <br>  
                博洋冰丝凉席 <br>   
                老凤祥口罩夹 <br>   
                克徕帝便携珠宝箱 <br>   
                *(奖品款式，颜色随机，邮寄地址以中奖用户在活动页面填写的信息为准，一经提交无法更改 ），不接受退换。<br>

                奖品领取：<br>
                1.获奖后，请按照页面提示填写完整的获奖信息，并于10个工作日内去相关的领取<br>
                2.若由于用户未提供准确信息致使无法将奖品成功寄送给用户的，将视为中奖用户自动放弃奖品及兑奖资格。<br>

                活动须知：<br>
                1.    请在参与本活动之前，仔细阅读本活动参与方式及规则，您参与本活动即表示您愿意遵守与本活动有关的以下规则。<br>
                2.    同一用户（同一设备，同一手机号，同一网络IP，满足前述任一条件均视为同一用户）最多只可获奖一次。<br>
                3.    此活动相关推广活动页面可被转发。   <br>                                             
                4.    限时抢奖品一经领取，不可退换，不可兑换现金，不可对外出售。<br>
                5.    用户的中奖纪录以主办方保存的系统后台数据库中的记录为准。<br>
                6.    主办方工作人员与相关代理商不得参与本次活动。<br>
                7.    获奖者在领取、使用奖品过程中发生损失或损害，除非该等损失或损害系因主办方过失导致的，否则主办方不承担任何责任。<br>
                8.    若发现用户在活动参加过程中有任何舞弊、欺诈或违法行为，主办方有权在不经事先通知的前提下取消其获奖资格。<br>
                9.    因网络、通讯线路故障等非主办方原因而导致系统误送中奖通知或用户无法获取奖品，或遭受其他权利损失，主办方不承担任何责任。<br>
                10.    本活动仅为用户提供网络活动式平台体验服务，用户不得利用相关网站发布侮辱与攻击性语言，不得侵犯他人隐私，不得发布任何违法内容，任何由用户发布、参与、传播互动内容而导致的法律责任，由用户自行承担。<br>
                11.    中奖者提供虚假兑奖信息或转发兑奖信息、逾期兑奖等情形，皆视为中奖者放弃中奖资格及由此引申的权利。<br>
                12.    最终解释权归百度上海分公司所有<br>
                13.    如有问题可联系客服：17521276113<br>
        </div>
    </div>
    <div class="yxgzts">
        <div class="ss">
            <img src="../public/images/yxgz.png" alt="">
            <div class="smclose">
                ×
            </div>
        </div>
    </div>
</body>
<script src="../public/javascripts/jquery-3.3.1.min.js"></script>
<script src="../public/javascripts/rem.js"></script>
<!-- <script src="../public/javascripts/swiper.js"> </script> -->

<script> 
     
    function randomilize(arr){
        var length=arr.length;
        var arr1=new Array(); 
        for(var i=0;i<length;i++)
        {
            arr1[i]=i;
        }   //建立数组下标数组
        var arr2=new Array();
        for(var i=0;i<length;i++)
        {
            arr2[i]=arr1.splice(Math.floor(Math.random()*arr1.length),1);
        }  //将数组下标随机打乱
        var arr3=new Array();
        for(var i=0;i<length;i++)
        {
            arr3[i]=arr[arr2[i]];
        }  //将数组按打乱后的下标输出
        return arr3;
    }
    function selectRandom (num, from, to) {
        let arr = [];
        let json = {};
        let needNum;

        if (from - to >= 0) {
            console.log(111)
            return '起始值要小于末尾值'
        }

        if (to - from == to) {
            needNum = parseInt(to) + 1;
        } else {
            needNum = to - from;
        }
        if (num > needNum) {
            return
        } else {
            while (arr.length < num) {
            let ranNum = Math.ceil(Math.random() * needNum);
            if (!json[ranNum]) {
                json[ranNum] = 1;
                arr.push(ranNum)
            }
            }
            return arr;
        }
    }
    function genClips() {
        $.each($('.clipped-box'),function (index,val) {
                $t= $(val)
                var amount = 3;
                var width = $t.width() / amount;
                var height = $t.height() / amount;
                var totalSquares = Math.pow(amount, 2);
                var html = $t.find('.content').html();
                
                var y = 0;
                for(var z = 0; z <= (amount*width); z = z+width) { 
                    $('<div class="clipped" style="clip: rect('+y+'px, '+(z+width)+'px, '+(y+height)+'px, '+z+'px)">'+html+'</div>').appendTo($t);
                    if(z === (amount*width)-width) {
                        y = y + height;
                        z = -width;
                    }
                    if(y === (amount*height)) {
                        z = 9999999;
                    }
                }

          })
        // $t = $('.clipped-box');
    
        
    }
    function rand(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    function restart() { 
        var time =0
        xcd=0
        $('.time').text(time)
        clearInterval(jsq)
        jsq=setInterval(() => {
            time++;
            $('.time').text(time)
        }, 1000);
        }
    function init() {
        var index =[0,1,2,3,4,5,6,7]
        var list =randomilize(index)
        var list1= randomilize(list)
        var listId = list.concat(list1)
        var str ='';
        $.each(listId, function (index, val) { 
            str+=`<div class="clipped-box" sign='${val}'>
                    <div class="content">
                        <img src="../public/images/x-${val}.png" style="height: 100%;width: 100%;" alt="">
                    </div>
                </div>`
        });
        $('.box').html(str)
        genClips()
    }
    init()
    var param ={
        user_id:'MCt1srWopMairAZKTogETHUWqn',
        user_name:'王大毛',
        goods_list:JSON.stringify([{"goodSName":"小米手机","goodsPrice":999,"goodsImgSrc":""},{"goodSName":"华为手机","goodsPrice":999,"goodsImgSrc":""},{"goodSName":"苹果手机","goodsPrice":9229,"goodsImgSrc":""}])
    }
    $.ajax({
        //请求方式
        type : "post",
        //请求地址
        url : "/api/getCommand",
        //数据，json字符串
        dataType: 'json',
        data:param,
        //请求成功
        success : function(res) {
           console.log(res)
            
        },
        //请求失败，包含具体的错误信息
        error : function(e){
            console.log(e.status);
            console.log(e.responseText);
        }
    });
    window.addEventListener('scroll', function () {
        if(document.documentElement.scrollTop>718){
            $('.tit1').addClass('t1')
        }
        if(document.documentElement.scrollTop>946){
            $('.tit2').addClass('t1')
        }
        if(document.documentElement.scrollTop>1160){
            $('.tit3').addClass('t1')
        }
        if(document.documentElement.scrollTop>2145 || document.documentElement.scrollTop<700){
            $('.tit1').removeClass('t1')
            $('.tit2').removeClass('t1')
            $('.tit3').removeClass('t1')
        }
       
    })
    // var mySwiper = new Swiper('.swiper-container', {
    //     // autoplay: true,
    //     loop: true,
    // })
    
    // var mySwiper = new Swiper('.swiper-container2', {
    //     autoplay: true,
    //     loop: true,
    //     slidesPerView : 3,  
    //     speed:5000,
    //     centeredSlidesBounds: true,
    //     centeredSlides : true,
    // })
    window.prize= ''
    var count =1
    var xcd =0
    var jsq =null
    var djs =12
    var map ={
        'ppxsz':'趴趴熊睡枕',
        'kldzbx':'克莱蒂珠宝箱',
        'kzj':'老凤祥口罩夹',
        'xdzj':'小度在家X8',
        'xzdxgz':'星座度熊公仔',
        'bslx':'博洋冰丝凉席',
        'xdznyx':'小度智能音响'
    }
    var timer2=null
    var xxljx =''
    $.each( $('.thzq-box-item-box'),function (index,val) {
         $(val).css({
            'width':($(val).find('.tbib').length*2.4)+'rem'
         })
      })
    
    $('body').on('click','.tab>div',function () {
        $('.tab>div').removeClass('active')
        $('.tab span').removeClass('active1')
        $(this).addClass('active')
        $(this).find('span').addClass('active1')
        console.log($(this))
    }).on('click','.close',function () { 
        count =1
        xcd =0
        jsq =null
        djs =12
        $('.sj').text(djs)
        $('.sb').fadeOut()
        $('.start').removeClass('hide')
        $('.mask').removeClass('hide')
        $('.result').hide()
        init()
    }).on('click','.restart',function () { 
        count =1
        xcd =0
        jsq =null
        djs =12
        $('.sj').text(djs)
        $('.sb').fadeOut()
        $('.start').removeClass('hide')
        $('.mask').removeClass('hide')
        $('.result').hide()
        init()
    }).on('click','.tab-sb-item',function () { 
        
        $(this).siblings().removeClass('tab-sb-active')
        $(this).addClass('tab-sb-active')
     }).on('click','.ljfx',function () { 
        let timer =null;
        clearTimeout(timer)
        $('.fxts').fadeIn()
        timer=setTimeout(function () { 
            $('.fxts').fadeOut()
            $('.fx-mask').fadeIn()
            $('.jxm').text('由老凤祥提供的老凤祥麻布袋便携餐具一份')
         },3000)
       

    }).on('click','.fxtj',function () { 
        if($(this).parent().find('.xm').val().trim() ==''){
            alert('姓名不能为空')
            return 
        }else if($(this).parent().find('.tell').val().trim() =='' ){
            alert('手机号不能为空！')
            return 
        }else if(!(/^1[3456789]\d{9}$/.test($(this).parent().find('.tell').val().trim())) ){
            alert('手机号格式不正确！')
            return 
        }
        var param ={
            name:$(this).parent().find('.xm').val().trim(),
            tell:$(this).parent().find('.tell').val().trim(),
            jx:'cj',
            sign:'主页分享'
        }
        // console.log(param)
        $.ajax({
                //请求方式
                type : "post",
                //请求地址
                url : "/api/lfxFxsubmit",
                //数据，json字符串
                data:param,
                dataType: 'json',
                //请求成功
                success : function(res) {
                   if(res.code ==1){
                        alert(res.msg)
                        $('.count').text('仅限'+res.count+'份先到先得')
                   }else{
                       alert(res.msg)
                   }
                   
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });



    }).on('click','.close',function () { 
        $('.dzp-mask').fadeOut()

    }).on('click','.cj',function () { 
            
        

    }).on('click','.tj',function () { 
        console.log(map[xxljx]+'领取成功！')
        if($(this).parent().find('.xm').val().trim() ==''){
            alert('姓名不能为空')
            return 
        }else if($(this).parent().find('.tell').val().trim() =='' ){
            alert('手机号不能为空！')
            return 
        }else if(!(/^1[3456789]\d{9}$/.test($(this).parent().find('.tell').val().trim())) ){
            alert('手机号格式不正确！')
            return 
        }
        var param ={
            name:$(this).parent().find('.xm').val().trim(),
            tell:$(this).parent().find('.tell').val().trim(),
            jx:xxljx,
            sign:'主页消消乐'
        }
        $.ajax({
                //请求方式
                type : "post",
                //请求地址
                url : "/api/lfxSubmit",
                //数据，json字符串
                data:param,
                dataType: 'json',
                //请求成功
                success : function(res) {
                   if(res.code ==1){
                        alert('恭喜您'+map[xxljx]+'领取成功！')
                   }else{
                       alert(res.msg)
                   }
                   
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
    }).on('click','.fq',function () { 
        var param ={
            prize:prize
        }
        $.ajax({
                //请求方式
                type : "post",
                //请求地址
                url : "/api/giveUp",
                //数据，json字符串
                data:param,
                dataType: 'json',
                //请求成功
                success : function(res) {
                    alert(res.msg)
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
    }).on('click','.clipped-box div',function (e) {
        console.log(djs)
        if(djs>0){
            var _this=this
            var timer =null;
            if($(this).parent().hasClass('sign')) return;
            $(this).parent().addClass('sign')
            if(count<3){
                $(this).parent().addClass('yx-active1')
                count++;
            }
            if(count ==3){

                if($($('.yx-active1')[0]).attr('sign') !=$($('.yx-active1')[1]).attr('sign') ){
                    clearTimeout(timer)
                    $('.yx-active1').addClass('shake')
                    $('.clipped-box').removeClass('yx-active1')
                    $('.clipped-box').removeClass('sign')
                    timer =setTimeout(function (param) {
                        $('.clipped-box').removeClass('shake') 
                        
                    },1000)
                    count=1
                } else{
                    
                    $.each($('.yx-active1'),function (index,val) {                    
                        $(val).find('.content').css({'display' : 'none'});
                        
                        $(val).find('div:not(.content)').each(function() {
                            var v = rand(70, 50),
                                angle = rand(0, 89),
                                theta = (angle * Math.PI) / 180,
                                g = -9.8; 
                            var self = $(this);
                            var t = 0,
                                z, r, nx, ny,
                                totalt =  15;
                            var negate = [1, -1, 0],
                                direction = negate[ Math.floor(Math.random() * negate.length) ];
                            var randDeg = rand(-5, 10), 
                                randScale = rand(0.9, 1.1),
                                randDeg2 = rand(30, 5);
                            var color = $(this).css('backgroundColor').split('rgb(')[1].split(')')[0].split(', '),
                                colorR = rand(-20, 20),
                                colorGB = rand(-20, 20),
                                newColor = 'rgb('+(parseFloat(color[0])+colorR)+', '+(parseFloat(color[1])+colorGB)+', '+(parseFloat(color[2])+colorGB)+')';
                            $(this).css({
                                'transform' : 'scale('+randScale+') skew('+randDeg+'deg) rotateZ('+randDeg2+'deg)', 
                                'background' : newColor
                            });
                            z = setInterval(function() { 	
                                var ux = ( Math.cos(theta) * v ) * direction;
                                var uy = ( Math.sin(theta) * v ) - ( (-g) * t);
                                nx = (ux * t);
                                ny = (uy * t) + (0.5 * (g) * Math.pow(t, 2));
                                $(self).css({'bottom' : (ny)+'px', 'left' : (nx)+'px'});
                                t = t + 0.10;
                                if(t > totalt) {

                                    $(val).css({'top' : '-1000px', 'transition' : 'none'});
                                    $(self).css({'left' : '0', 'bottom' : '0', 'opacity' : '1', 'transition' : 'none', 'transform' : 'none'});
                                    clearInterval(z);
                                }
                            }, 10);
                        });
                    })
                    xcd++
                    count=1
                    $('.clipped-box').removeClass('yx-active1')
                    $('.clipped-box').removeClass('sign')

                    if(xcd==8){
                        clearInterval(jsq)
                        $('.result').fadeIn()
                        $('.g-c').fadeIn()
                        // $.ajax({
                        //     //请求方式
                        //     type : "post",
                        //     //请求地址
                        //     url : "/api/luckDrawZy",
                        //     //数据，json字符串
                        //     dataType: 'json',
                        //     //请求成功
                        //     success : function(res) {
                        //         // $('.jx').text("恭喜你中了"+res.prize)
                        //         // prize=res.prize
                        //         console.log();
                        //         var str =''
                        //         setTimeout(function (param) { 
                        //             xxljx =res.prize
                        //             if(res.prize=='kldzbx'){
                        //                 str='1.顾客凭线上预约码 到店可领取价值399元便携珠宝箱一件（30天内有效）<br>2.线上预约链接:<a href="https://m.crd.cn/reservation/?source=kaipin|H5">https://m.crd.cn/reservation/?source=kaipin|H5</a>'
                        //                 $('.sm').css({'left':'18%'})
                        //             }else if(res.prize=='kzj'){
                        //                 str='1.凭手机号进店即可免费老凤祥口罩夹一个<br>2.上海老凤祥豫园分号黄浦区丽水路58-88号<br>3.每人仅限领取同类产品一次'
                        //                 $('.sm').css({'bottom':'.5rem'})
                        //             }else{
                        //                 str='1.请填写完整的获奖信息，活动结束后会有工作人员索要邮寄地址<br>2.活动结束后我们将于15个工作日内将奖品邮寄给您'
                        //                 $('.sm').css({'left':'18%'})
                        //             }
                        //             $('.jp-text').text('恭喜你获得'+map[res.prize])
                        //             $('.sm').html(str)
                                    
                        //             $('.g-c').fadeIn()
                        //             $('.result').fadeIn()
                        //             count =1
                        //             xcd =0
                        //             jsq =null
                        //             djs =12
                        //             $('.sj').text(djs)
                        //             $('.start').removeClass('hide')
                        //             $('.mask').removeClass('hide')
                        //             init()

                        //         },1000)
                        //     },
                        //     //请求失败，包含具体的错误信息
                        //     error : function(e){
                        //         console.log(e.status);
                        //         console.log(e.responseText);
                        //     }
                        // });
                        
                        
                    }
                }
                
            }
        
        }   
    }).on('click','.start',function () { 
       
        $('.mask').fadeIn()
        clearTimeout(timer2)
        $('.yxgzts').fadeIn()
        timer2=setTimeout(() => {
            $('.yxgzts').fadeOut()
            clearInterval(jsq)
            jsq =setInterval(function (param) { 
                djs--;
                if(djs == -1){
                    clearInterval(jsq)
                    $('.sb').fadeIn()
                    $('.result').fadeIn()
                }else{
                    $('.sj').text(djs)
                }
            },1000)
            $(this).parent().addClass('hide')
        }, 3000);
        
    }).on('click','.mzegb',function (param) {  
        $('.mzsm').fadeOut()
    }).on('click','.gz',function (param) {  
        
        $('.mzsm').fadeIn()
       
    }).on('click','.smclose',function () { 
        $('.yxgzts').fadeOut()
        $('.mask').addClass('hide')
        clearTimeout(timer2)
        clearInterval(jsq)
        jsq =setInterval(function (param) { 
            djs--;
            if(djs == -1){
                clearInterval(jsq)
                $('.sb').fadeIn()
                $('.result').fadeIn()
            }else{
                $('.sj').text(djs)
            }
        },1000)
    }).on('scroll','body',function(e){
       console.log(e)
    })
</script>
</html>