<!DOCTYPE html>
<html lang="en">
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ffbbabff928b8ef748056bddc55a79aa";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>规则</title>
    <link rel="stylesheet" href="../public/css/reset.css"> 
    <link rel="stylesheet" href="../public/css/swiper.css">  
    
    <style> 
       
        .rule{
            height: 36.80rem;
            width: 7.50rem;
            background: url('https://smartsh.gzbaidu.co:50/zhc/gzy.png') no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
   <div class="rule"></div>
    
    
</body>
<script src="../public/javascripts/jquery-3.3.1.min.js"></script>
<script src="../public/javascripts/rem.js"></script>
<script src="../public/javascripts/swiper.js"></script>


</html>