<!DOCTYPE html>
<html lang="en">
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ffbbabff928b8ef748056bddc55a79aa";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>云闪付</title>
    <link rel="stylesheet" href="../public/css/reset.css"> 
    <style> 
        div{
            height: 64.13rem;
            width: 7.5rem;
            background: url('../public/images/ysf/ysf2.jpg') no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div >

    </div>


    
    
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="../public/javascripts/rem.js"></script>


<script>

</script>
</html>